/**
* List
* @author tangxiaomi <81195314@qq.com>
* @date 2023-06-27 09:53:24
* @since 0.0.0
*/

div
    padding 10px
    display: flex;
    flex-wrap: wrap;
    width 100vw
    height: 100vh
    overflow-y: auto
    a
        margin-right 10px
        &.active
            color red